[submodule "AMDuran2017.github.io"]
	path = AMDuran2017.github.io
	url = https://github.com/AMDuran2017/AMDuran2017.github.io.git
[submodule "carmen-araujo.github.io"]
	path = carmen-araujo.github.io
	url = https://github.com/carmen-araujo/carmen-araujo.github.io.git
[submodule "esthierickson.github.io"]
	path = esthierickson.github.io
	url = https://github.com/esthierickson/esthierickson.github.io.git
[submodule "kmwright1.github.io"]
	path = kmwright1.github.io
	url = https://github.com/kmwright1/kmwright1.github.io.git
[submodule "niablake.github.io"]
	path = niablake.github.io
	url = https://github.com/niablake/niablake.github.io.git
[submodule "sophievgenderen.github.io"]
	path = sophievgenderen.github.io
	url = https://github.com/sophievgenderen/sophievgenderen.github.io.git
[submodule "madisonjordan.github.io"]
	path = madisonjordan.github.io
	url = https://github.com/madisonjordan/dreu2020_madisonjordan.git
[submodule "briannawimer.github.io"]
	path = briannawimer.github.io
	url = https://github.com/briannawimer/briannawimer.github.io
[submodule "cbsoto.github.io"]
	path = cbsoto.github.io
	url = https://github.com/cbsoto/cbsoto.github.io
[submodule "hrb56.github.io"]
	path = hrb56.github.io
	url = https://github.com/hrb56/hrb56.github.io
[submodule "jose01carrillo30.github.io"]
	path = jose01carrillo30.github.io
	url = https://github.com/jose01carrillo30/dreu2020
[submodule "KiannaBagdon.github.io"]
	path = KiannaBagdon.github.io
	url = https://github.com/KiannaBagdon/KiannaBagdon.github.io
[submodule "lgnadolskis.github.io"]
	path = lgnadolskis.github.io
	url = https://github.com/lgnadolskis/lgnadolskis.github.io
[submodule "mgrundemcl.github.io"]
	path = mgrundemcl.github.io
	url = https://github.com/mgrundemcl/mgrundemcl.github.io
[submodule "ofigueira.github.io"]
	path = ofigueira.github.io
	url = https://github.com/ofigueira/ofigueira.github.io
[submodule "SaraJaneG.github.io"]
	path = SaraJaneG.github.io
	url = https://github.com/SaraJaneG/SaraJaneG.github.io
[submodule "Ceella24.github.io"]
	path = Ceella24.github.io
	url = https://github.com/Ceella24/Ceella24.github.io
[submodule "erinleighh.github.io"]
	path = erinleighh.github.io
	url = https://github.com/erinleighh/erinleighh.github.io
[submodule "nyjackson.github.io"]
	path = nyjackson.github.io
	url = https://github.com/nyjackson/nyjackson.github.io
[submodule "emeliabeldon.github.io"]
	path = emeliabeldon.github.io
	url = https://github.com/emeliabeldon/emeliabeldon.github.io
[submodule "gallymike.github.io"]
	path = gallymike.github.io
	url = https://github.com/gallymike/gallymike.github.io
[submodule "jsbeckwith.github.io"]
	path = jsbeckwith.github.io
	url = https://github.com/jsbeckwith/jsbeckwith.github.io
[submodule "linneamunro.github.io"]
	path = linneamunro.github.io
	url = https://github.com/linneamunro/linneamunro.github.io
[submodule "AHMAD-DINKINS.github.io"]
	path = AHMAD-DINKINS.github.io
	url = https://github.com/AHMAD-DINKINS/AHMAD-DINKINS.github.io
[submodule "jakeryang.github.io"]
	path = jakeryang.github.io
	url = https://github.com/jakeryang/jakeryang.github.io
[submodule "josieoharrow.github.io"]
	path = josieoharrow.github.io
	url = https://github.com/josieoharrow/josieoharrow.github.io
[submodule "ramya-ramalingam.github.io"]
	path = ramya-ramalingam.github.io
	url = https://github.com/ramya-ramalingam/ramya-ramalingam.github.io
[submodule "chaupham.github.io"]
	path = chaupham.github.io
	url = https://github.com/chtmp223/dreu
